
:root {
    --c_bg: #000000;
    --c_body_text: #ffffff
}

html, body {
    height: 100%;
    width: 100%;
    background-color: var(--c_bg);
    color: var(--c_body_text);
    overflow-x: hidden;
    overflow-y: hidden;
}

div.global-controls {
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(2, max-content);
}
div.global-selection {
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(3, max-content);
}

section.thumbnail-mosaic {
    height: auto;
    width: 100%;
    overflow-x: scroll;
}

.mosaic-grid {
    height: 100%;
    width: fit-content;
    grid-auto-flow: column;
    display: grid;
    gap: 15px;
    grid-auto-columns: 1fr;
    grid-template-rows: repeat(3, minmax(0, 1fr));
    align-items: center;
    justify-items: center;
    overflow-y: hidden;
    overflow-x: visible;
    background-color: transparent;
}
.mosaic-grid .cell {
    height: 100%;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    /* grid-template-rows: minmax(0, 1fr); */
    grid-template-rows: repeat(3,minmax(0, max-content));
    gap: 10px;
    margin: 10px;
    background-color: red;
    align-items: center;
    justify-items: center;
    /* fallback (set in js) */
    grid-auto-columns: repeat(auto-fit, minmax(0, 1fr));
}

.mosaic-grid .cell .selection-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
}

.invert-selection {
    font-weight: bold;
}
.good {
    accent-color: #00ff00;
    background-color: #00ff00;
}
.bad {
    accent-color: #ff8800;
    background-color: #ff8800;
}
.ugly {
    accent-color: #0000ff;
    background-color: #0000ff;
    color: #ffffff;
}

.mosaic-grid .cell .thumbnail-container {
    display: grid;
    grid-auto-flow: column;
}

.mosaic-grid .cell .thumbnail {
    background-color: gray;
    width: 100%;
    height: 100%;
    outline: 1px blue solid;
}

.plotly-wrapper {
    display: block;
    /* set dynamically in JS */
    /* width: 100px; */
    /* height: 100px; */
    overflow: hidden;
}
.plotly-plot {
    display: block;
    width: 100%;
    height: 100%;
}
