
/* base */
:root {
    --c_bg: #ffffff;
    --c_body_text: #303030;
    --c_tre: #c80000;
    --c_fink_1: #15284F;
    --c_fink_2: #3C8DFF;
    --c_fink_3: #D5D5D3;
    --c_fink_4: #F5622E;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: var(--c_bg);
    color: var(--c_body_text);
    overflow-x: hidden;
    overflow-y: scroll;
}

/* main {
    display: grid;
    grid-column: 1fr;
    grid-auto-rows: repeat(3, max-content) 1fr;
} */

:is(h1,h2,h3) {
    margin-bottom: 0.2em;
    margin-top: 0.2em;
}

a {
    color: var(--c_fink_2);
    text-decoration: none;
}
a:hover {
    color: color-mix(in srgb, var(--c_fink_2) 70%, var(--c_body_text) 30%);
    text-decoration: underline;
}
a:visited {
    color: color-mix(in srgb, var(--c_fink_2) 70%, var(--c_bg) 30%);
}

button {
    font-weight: bold;
    border-radius: 4px;
    height: max-content;
    width: max-content;
}
button.io {
    margin-top: 15px;
    font-size: 1.5rem;
    background-color: var(--c_tre);
    color: #ffffff;
    pad: 5px;
    border-radius: 7px;
}
button.io:hover {
    cursor: pointer;
    background-color: color-mix(in srgb, var(--c_fink_1) 70%, var(--c_fink_3) 30%);
}

/* helpers */
.hidden {
    display: none;
}

/* base class for tooltips */
.tooltip {
    color: var(--c_body_text);
    /* hide info */
    position: fixed;
    visibility: hidden;
    opacity: 0;
    /* box positioning */
    z-index: 1000;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    /* text styling */
    font-size: 1rem;
    font-weight: normal;
    overflow-wrap: break-word;
    
    /* box styling */
    width: 80%;
    /* height: 5em; */
    height: auto;
    border-radius: 4px;
    background-color: color-mix(in srgb, var(--c_bg), var(--c_body_text) 20%);
    padding: 0.4em 0.5em;
    overflow-y: scroll;
    pointer-events: none;

    /* text styling */
    /* white-space: pre; */
    text-transform: none;    

    /* smoothing effects */
    transition:
        opacity 0.3s ease,
        visibility 0.3s ease;
}


.parameter:hover > .tooltip {
    /* show tooltip on hover */
    display: block;
    visibility: visible;
    opacity: 0.95;    
}

/* project specific */
.controls-title::after {
    content: "\25BC";
    font-size: 0.5em;
    margin-left: 0.5em;
    top: 0;
}
.controls-title:hover {
    cursor: pointer;
    text-decoration: underline;
    color: var(--c_fink_2);
}

.heading {
    font-weight: bold;
}

div.global-controls {
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(2, max-content);
}

.status {
    height: 2lh;
    width: max-content;
    overflow-y: auto;
    background-color: color-mix(in srgb, var(--c_fink_4) 10%, var(--c_bg) 90%);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
#numobjects::before {
    content: "Objects Displayed: ";
}
/* div.global-selection {
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(3, max-content);
} */

.thumbnail-mosaic-wrapper {
    /* wrapper to enable vertical scrolling of thumbnails */
    height: 70vh;
    overflow-y: scroll;
}
section.thumbnail-mosaic {
    height: auto;
    width: 100%;
    overflow-x: auto;
}

.mosaic-grid {
    height: 100%;
    width: fit-content;
    grid-auto-flow: column;
    display: grid;
    gap: 15px;
    grid-auto-columns: 1fr;
    align-items: center;
    justify-items: center;
    overflow-y: hidden;
    overflow-x: visible;
    background-color: transparent;
    padding: 1%;
    /* fallback (set in js) */
    grid-template-rows: repeat(3, minmax(0, 1fr));
}
.mosaic-grid .cell {
    height: 100%;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    /* grid-template-rows: minmax(0, 1fr); */
    grid-template-rows: repeat(3,minmax(0, max-content));
    gap: 10px;
    margin: 10px;
    background-color: color-mix(in srgb, var(--c_fink_4) 10%, var(--c_bg) 90%);
    outline: 1px var(--c_fink_3) solid;
    border-radius: 15px;
    align-items: center;
    justify-items: center;
    /* fallback (set in js) */
    grid-auto-columns: repeat(auto-fit, minmax(0, 1fr));
    box-shadow: 3px 3px 15px var(--c_fink_1);
}

.mosaic-grid .cell .selection-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
}

.invert-selection {
    font-weight: bold;
    color: #ffffff;
}
.good {
    accent-color: var(--c_fink_4);
    background-color: var(--c_fink_4);
}
.bad {
    accent-color: var(--c_fink_1);
    background-color: var(--c_fink_1);
}
.maybe {
    accent-color: var(--c_fink_2);
    background-color: var(--c_fink_2);
}

.mosaic-grid .cell .thumbnail-container {
    display: grid;
    grid-auto-flow: column;
}

.mosaic-grid .cell .thumbnail {
    background-color: var(--c_fink_1);
    width: 100%;
    height: 100%;
}

.plotly-wrapper {
    display: block;
    /* set dynamically in JS */
    /* width: 100px; */
    /* height: 100px; */
    overflow: hidden;
}
.plotly-plot {
    display: block;
    width: 100%;
    height: 100%;
}
