
/* base */
:root {
    --c_bg: #ffffff;
    --c_body_text: #303030;
    --c_tre: #c80000;
    --c_fink_1: #15284F;
    --c_fink_2: #3C8DFF;
    --c_fink_3: #D5D5D3;
    --c_fink_4: #F5622E;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: var(--c_bg);
    color: var(--c_body_text);
    overflow-x: hidden;
    overflow-y: scroll;
}

/* main {
    display: grid;
    grid-column: 1fr;
    grid-auto-rows: repeat(3, max-content) 1fr;
} */

p {
    width: max-content;
}

:is(h1,h2,h3) {
    margin-bottom: 0.2em;
    margin-top: 0.2em;
    width: max-content;
    max-width: 90%;
}

a {
    color: var(--c_fink_1);
    text-decoration: none;
}
a:hover {
    color: color-mix(in srgb, var(--c_fink_1) 70%, var(--c_body_text) 30%);
    text-decoration: underline;
}
a:visited {
    color: color-mix(in srgb, var(--c_fink_1) 70%, var(--c_bg) 30%);
}

button {
    font-weight: bold;
    border-radius: 4px;
    height: max-content;
    width: max-content;
    cursor: pointer;
}
button.io {
    margin-top: 15px;
    font-size: 1.5rem;
    background-color: var(--c_tre);
    color: #ffffff;
    pad: 5px;
    border-radius: 7px;
}
button.io:hover {
    cursor: pointer;
    background-color: color-mix(in srgb, var(--c_fink_1) 70%, var(--c_fink_3) 30%);
}
button.close {
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    background-color: var(--c_body_text);
    color: var(--c_tre);
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1;
    border-radius: 50%;
    border: 1px var(--c_body_text) solid;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    pad: 0;
    margin-left: 1em;
    font-size: 1.3rem;
}
button.close::before {
    content: "\00d7";
}

/* helpers */
.hidden {
    display: none;
}

/* base class for tooltips */
.tooltip {
    color: var(--c_body_text);
    /* hide info */
    position: fixed;
    visibility: hidden;
    opacity: 0;
    /* box positioning */
    z-index: 1000;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    /* text styling */
    font-size: 1rem;
    font-weight: normal;
    overflow-wrap: break-word;
    
    /* box styling */
    width: 80%;
    /* height: 5em; */
    height: auto;
    border-radius: 4px;
    background-color: color-mix(in srgb, var(--c_bg), var(--c_body_text) 20%);
    padding: 0.4em 0.5em;
    overflow-y: scroll;
    pointer-events: none;

    /* text styling */
    /* white-space: pre; */
    text-transform: none;    

    /* smoothing effects */
    transition:
        opacity 0.3s ease,
        visibility 0.3s ease;
}

:where(
    .hovertooltip:hover,
    .parameter:hover,
    .file-upload:hover
 ) > .tooltip {
    /* show tooltip on hover */
    display: block;
    visibility: visible;
    opacity: 0.95;    
}

.overlay {
    height: 90%;
    position: fixed;
    margin: 0.5em;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 
        0 0 20px var(--c_body_text);
    inset: 0;
    background: var(--c_bg);
    opacity: 0.9;
    justify-content: center;
    align-items: top;
    overflow-y: scroll;
    z-index: 1000;
}
.overlay.info {
    position: fixed;
    width: max-content;
    max-width: 70%;
    height: max-content;
    top: 50%;
    left: 50%;
    font-size: 1.8rem;
    border-radius: 7px;
    padding: 0.5rem;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--c_tre);
    color: #ffffff;
    z-index: 1000;
    box-shadow: 10px 10px 15px var(--c_body_text);
}

/* project specific */
.controls-title::after {
    content: "\25BC";
    font-size: 0.5em;
    margin-left: 0.5em;
    top: 0;
}
.controls-title:hover {
    cursor: pointer;
    text-decoration: underline;
    color: var(--c_fink_2);
}
.controls-wrapper {
    overflow-x: auto;
}
.legend-content {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: auto;
    grid-auto-columns: max-content;
    column-gap: 10px;
    align-content: center;
    align-items: center;
    outline: 1px red solid;
}

.heading {
    font-weight: bold;
}
.parameter {
    display: contents;
    width: max-content;
    height: max-content;
    padding: 0;
}
.parameter > * {
    margin-right: 5px;
    margin-left: 5px;
    height: max-content;
    justify-self: start;
}

div.global-controls {
    display: grid;
    column-gap: 10px;
    /* grid-template-columns: repeat(auto-fit, minmax(320px, max-content)); */
    grid-template-columns: repeat(4, max-content);
    grid-auto-rows: auto;
    overflow-y: auto;
}

.status {
    height: 5lh;
    min-width: 3em;
    max-width: 95%;
    width: max-content;
    overflow-y: auto;
    background-color: color-mix(in srgb, var(--c_fink_4) 10%, var(--c_bg) 90%);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
.status {
    white-space: pre;
}
.status::before {
    content: "Status:";
    font-weight: bold;
}
/* div.global-selection {
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(3, max-content);
} */

.page-controls {
    display: grid;
    column-gap: 0;
    row-gap: 0;
    /* grid-template-columns: repeat(auto-fit, minmax(280px, max-content)); */
    grid-template-columns: repeat(4, max-content);
    grid-auto-rows: max-content;
    /* overflow-x: auto; */
}

.thumbnail-mosaic-wrapper {
    /* wrapper to enable vertical scrolling of thumbnails */
    height: 70vh;
    overflow-y: scroll;
}
section.thumbnail-mosaic {
    height: auto;
    width: 100%;
    overflow-x: auto;
}

.mosaic-grid {
    height: 100%;
    width: fit-content;
    grid-auto-flow: column;
    display: grid;
    gap: 15px;
    grid-auto-columns: 1fr;
    align-items: center;
    justify-items: center;
    overflow-y: hidden;
    overflow-x: visible;
    background-color: transparent;
    padding: 1%;
    /* fallback (set in js) */
    grid-template-rows: repeat(3, minmax(0, 1fr));
}
.mosaic-grid .cell {
    height: 100%;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    /* grid-template-rows: minmax(0, 1fr); */
    grid-template-rows: repeat(3,minmax(0, max-content));
    gap: 10px;
    margin: 10px;
    background-color: color-mix(in srgb, var(--c_fink_4) 10%, var(--c_bg) 90%);
    outline: 1px var(--c_fink_3) solid;
    border-radius: 15px;
    align-items: center;
    justify-items: center;
    /* fallback (set in js) */
    grid-auto-columns: repeat(auto-fit, minmax(0, 1fr));
    box-shadow: 3px 3px 15px var(--c_fink_1);
}
.mosaic-grid .cell:has(input[value="good"]:checked) {
    background-color: color-mix(in srgb, var(--c_fink_4) 90%, var(--c_bg) 10%);
}
.mosaic-grid .cell:has(input[value="maybe"]:checked) {
    background-color: color-mix(in srgb, var(--c_fink_2) 50%, var(--c_bg) 50%);
}


.mosaic-grid .cell .cell-header {
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    flex: 1;
    column-gap: 10px;
    align-content: center;
    align-items: center;
}
.mosaic-grid .cell .cell-header a {
    font-size: 0.7em;
}

.mosaic-grid .cell .cell-header .selection-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
}

.invert-selection {
    font-weight: bold;
    color: #ffffff;
}
.good {
    accent-color: var(--c_fink_4);
    background-color: var(--c_fink_4);
}
.bad {
    accent-color: var(--c_fink_1);
    background-color: var(--c_fink_1);
}
.maybe {
    accent-color: var(--c_fink_2);
    background-color: var(--c_fink_2);
}

.mosaic-grid .cell .thumbnail-container {
    display: grid;
    grid-auto-flow: column;
}

.mosaic-grid .cell .thumbnail {
    background-color: var(--c_fink_1);
    width: 100%;
    height: 100%;
}

.plotly-wrapper {
    display: block;
    /* set dynamically in JS */
    /* width: 100px; */
    /* height: 100px; */
    overflow: hidden;
}
.plotly-plot {
    display: block;
    width: 100%;
    height: 100%;
}
